
  <div class="card container mt-2">
    <div class="card-header">
      Quote of the day : - 
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>You can't cross the sea merely by standing and staring at the water.</p>
        <footer class="blockquote-footer">Rabindranath Tagore </footer>
      </blockquote>
    </div>
  </div>
